{% extends "base.html" %}
{% block meta %}
    {% include "components/seo_meta.html" with title="Claim Maker Profile | Built with Django" description="Claim a Built with Django maker profile." robots="noindex,nofollow" twitter_card="summary" image_alt="Built with Django logo" %}
{% endblock meta %}
{% block content %}
<form class="absolute top-0 right-0 p-2" method="post">
    {% csrf_token %}
    <input class="hidden" type="text" value="{{ user.email }}" />
    <button type="submit"
            class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800 hover:bg-green-300">
        Claim
    </button>
</form>
{% endblock content %}
