{% extends "base.html" %}
{% load static %}
{% block meta %}
    {% include "components/seo_meta.html" with title="Thanks for Posting a Django Job | Built with Django" description="Your Django job was submitted to Built with Django." canonical_path="/jobs/thank-you" robots="noindex,nofollow" twitter_card="summary" image_alt="Built with Django logo" %}
{% endblock meta %}
{% block content %}
    <div class="my-10 prose md:mx-auto lg:prose-xl">
        <h1>Thank you!</h1>
        <p>
            Your job has been added to
            <a href="{% url 'jobs' %}">the directory</a>
            .
        </p>
        <p>
            It will also be featured in this week's newsletter.
        </p>
        <iframe src="https://giphy.com/embed/DhstvI3zZ598Nb1rFf"
                width="480"
                height="400"
                frameBorder="0"
                class="giphy-embed"
                allowFullScreen></iframe>
    </div>
{% endblock content %}
