{% extends "base.html" %}
{% load static %}
{% load markdown_extras %}

{% block meta %}
    {% absolute_url object.thumbnail.url as episode_image %}
    {% include "components/seo_meta.html" with title=object.title description=object.details canonical_path=object.get_absolute_url image=episode_image image_alt=object.title %}
{% endblock meta %}

{% block content %}
    <p class="mt-4 text-blue-700">
        ←
        <a href="{% url 'podcast_episodes' %}">back to all episodes</a>
    </p>
    <div class="my-10 prose md:mx-auto lg:prose-xl">
        <h1>{{ object.title }}</h1>
        <img class="w-full" src="{% get_media_prefix %}{{ object.thumbnail }}" alt="" />
        {% if object.player_html_embed %}
            <div class="max-w-3xl">
                {{ object.player_html_embed | safe }}
            </div>
        {% endif %}
        {% if object.details %}
            <div>
                <h2>Details</h2>
                <p>
                    {{ object.details | markdown | safe }}
                </p>
            </div>
        {% endif %}
        {% if object.show_notes %}
            <div>
                <h2>Show Notes</h2>
                <p>
                    {{ object.show_notes | markdown | safe }}
                </p>
            </div>
        {% endif %}
        {% if object.youtube_html_embed %}
            <div class="max-w-3xl">
                {{ object.youtube_html_embed | safe }}
            </div>
        {% endif %}
        {% if object.transcript %}
            <div>
                <h2>Transcript</h2>
                <p>
                    {{ object.transcript | markdown | safe }}
                </p>
            </div>
        {% endif %}
    </div>
{% endblock content %}

{% block schema %}
    {% absolute_url object.thumbnail.url as episode_image %}
    <script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "PodcastEpisode",
  "name": {{ object.title|json_ld }},
  "episodeNumber": {{ object.pk }},
  "thumbnailUrl": {{ episode_image|json_ld }},
  "author": {
    "@type": "Person",
    "name": "Rasul Kireev",
    "url": "https://rasulkireev.com/"
  },
  "url": "{% canonical_url object.get_absolute_url %}",
  "partOfSeries": {
    "@type": "PodcastSeries",
    "name": "Built with Django Podcast",
    "url": "{% canonical_url '/podcast/' %}"
  },
  "description": {{ object.details|json_ld }},
  "abstract": {{ object.details|json_ld }},
  "datePublished": "{{ object.created_datetime|date:'c' }}"
}
    </script>
{% endblock schema %}
